.side-bar_top_item {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 20px;
    }
}
.side-bar_bottom_item {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 20px;
    }
}

